
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display:wght@100;300;700&family=Passion+One:wght@400;700&display=swap');

@keyframes alot {
    0%{
       background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
     }
}

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: linear-gradient(-45deg,#96f1ea,#cceee7 ,#8cf9d5,#b5f0ed) no-repeat;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: -10px;
    margin-right: 1150px;
  }
  
  nav {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #ffffff;
    height: 7vh;
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(3, 3, 3);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: fixed;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
    



@keyframes has-show {
    from{
opacity: 0;
transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: none;
    } 
}


.has-show{
    animation: has-show 3s ease forwards;
}
.btn-whatsapp {
  position: fixed;
  outline: none;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  cursor: pointer;
  background: #34af23;
  color: #FFF;
  font-size: 2.3rem;
  border: 1px solid #f1f1f1;
 

}

.btn-whatsapp:hover{
transform: scale(1.1);
transition-duration: 1s;
transition-timing-function: ease-in-out;


}

  
.pagina1{
  width: 100%;
  height:95% ;
  text-align: center;
  animation: alot  20s ease infinite;
  background: linear-gradient(-45deg,#c5f5f1,#e0ccee ,#8cf9d5,#f0c685) no-repeat;
  display: flex;
  background-size: 300% 300%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
}

.pagina1 img{

    width: 1200px;
    margin: 1rem;
    margin-left: -40px;
}
.pagina1 h1{
  margin-top: -300px;
  margin-left: 20px;
  text-align:  center;
  font-weight: 500;
  font-size: 70px;
 color: black;
 opacity: 0;
 /* font-family: 'Bebas Neue', cursive; */
 /* font-family: 'Staatliches', cursive; */
 font-family: 'Big Shoulders Display', cursive;
}


.pagina2{
  width: 100%;
  height: 100%;
  background: #fff;
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.content{
  height: 720px;
  width: 1335px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.navegar{
position: absolute;
bottom: 20px;
left: 50%;
transform: translate(-50%);
display: flex;
}

.barra{
  
  width:  70px;
  height: 17px;
  border:  2px solid #fff;
  margin: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
 
}

.barra:hover{
  background-color: #fff;
}

input{
  display: none;
}

.slides{
  display: flex;
  width: 400%;
  height: 100%;
  
}
.slide{
  width: 25%;
  transition: .6s;

}
.slide img{
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1{
   margin-left: 0;
  
}

#slide2:checked ~ .s1{
  margin-left: -25%;
}
#slide3:checked ~ .s1{
  margin-left: -50%;
}
#slide4:checked ~ .s1{
  margin-left: -75%;
}
  
 .pagina3{
  width: 100%;
  height: 35%;
  background-color:#fff;
  display: flex;
  margin-top: 800px;
 }

 .contatos img{
  width: 60px;
  height: 12px; 
 }

